<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/gallery.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <!-- Core PhotoSwipe CSS file -->
  <link rel="stylesheet" href="PhotoSwipe-master/dist/photoswipe.css">

  <!-- Skin PhotoSwipe CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
  <link rel="stylesheet" href="PhotoSwipe-master/dist/default-skin/default-skin.css">
  <title>Rozina Bakehouse & Coffee</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>

<body>






  <section id="gallery">






    <!-- Content -->
    <div class="content">

      <div class="my-gallery grid" itemscope itemtype="http://schema.org/ImageGallery">


        <!--SELECTOR-->
        <!-- <div class="button-group filters-button-group" id="selectGallery">
          <div id="open-gallery-selector">
            <div class="sideways-text">galleries</div>
          </div>
          <button class="button is-checked" data-filter="*">show all</button>
          <button v-for="(gallery, key) in galleries" class="button" v-bind:data-filter="'.'+key">{{key}}</button>
        </div> -->

        <section v-for="(gallery, key) in galleries">

          <figure v-bind:data-category="key" v-bind:class="key" class="gallery-item" v-for="src in createFileNames(gallery.directory, gallery.amt)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a v-bind:href="src.img" itemprop="contentUrl">
              <img v-bind:src="src.thumbnail" itemprop="thumbnail" />
            </a>
            <figcaption itemprop="caption description"></figcaption>
          </figure>

        </section>

      </div>



      <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

    </div>









  </section>




  <section id="footer-info">
    <img id="footer-logo" src="images/rozina-nocircle-light-linesonly.png" alt="">

    <p style="text-align: center; font-size: 24px; letter-spacing: 4px; color: white">33 Hurt Plaza SE, Atlanta, GA, 30303</p>

    <p style="text-align: center; font-size: 10.521px; color: rgba(255,255,255,0.152)">
      website + logo created by
      <a style="color: rgba(255,255,255,0.152); ;letter-spacing: 3px;" target="_blank" href="https://www.allenosorio.com">
        . . . {odell web + design}
      </a>
    </p>
  </section>

  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <!-- Core PhotoSwipe JS file -->
  <script src="PhotoSwipe-master/dist/photoswipe.min.js"></script>
  <!-- UI PhotoSwipe JS file -->
  <script src="PhotoSwipe-master/dist/photoswipe-ui-default.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" charset="utf-8"></script>
  <script src="js/vueImages.js" charset="utf-8"></script>
  <script src="js/images.js" charset="utf-8"></script>
</body>

</html>
