html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 40px;
}

section {
  display: block;
  outline: none;
}

img {
  display: block;
  width: 60%;
  padding: 0 20%;
}

a {
  text-decoration: none;
  color: black;
}

#home {
  background:
  -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 1)),
      color-stop(rgba(255, 255, 255, 0.5)),
      to(rgba(0, 30, 60, 0.6))
    ),
    url('images/farmdinner.jpg');
  background:
  -webkit-linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5),
      rgba(0, 30, 60, 0.6)
    ),
    url('images/farmdinner.jpg');
  background:
  -o-linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5),
      rgba(0, 30, 60, 0.6)
    ),
    url('images/farmdinner.jpg');
  background:
  linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5),
      rgba(0, 30, 60, 0.6)
    ),
    url('images/farmdinner.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#about {
  background: white;
}

#image1 {
  background:
  -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.5)),
      color-stop(rgba(255, 255, 255, 0.25)),
      to(rgba(0, 30, 60, 0.5))
    ),
    url('https://scontent-atl3-1.cdninstagram.com/vp/263cf77c4d91bccc0566e516ade26718/5C28B405/t51.2885-15/e35/24274539_543986899280443_3437187920975364096_n.jpg');
  background:
  -webkit-linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.25),
      rgba(0, 30, 60, 0.5)
    ),
    url('https://scontent-atl3-1.cdninstagram.com/vp/263cf77c4d91bccc0566e516ade26718/5C28B405/t51.2885-15/e35/24274539_543986899280443_3437187920975364096_n.jpg');
  background:
  -o-linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.25),
      rgba(0, 30, 60, 0.5)
    ),
    url('https://scontent-atl3-1.cdninstagram.com/vp/263cf77c4d91bccc0566e516ade26718/5C28B405/t51.2885-15/e35/24274539_543986899280443_3437187920975364096_n.jpg');
  background:
  linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.25),
      rgba(0, 30, 60, 0.5)
    ),
    url('https://scontent-atl3-1.cdninstagram.com/vp/263cf77c4d91bccc0566e516ade26718/5C28B405/t51.2885-15/e35/24274539_543986899280443_3437187920975364096_n.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#image2 {
  background: url('https://scontent-atl3-1.cdninstagram.com/vp/ab8abefdfba019ee48e65c23167c0d39/5C610842/t51.2885-15/e35/24177505_2042701215986678_920209035364401152_n.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#image3 {
  background: url('https://scontent-atl3-1.cdninstagram.com/vp/df23689d77e3a056a941a2ab6b873fcd/5C477516/t51.2885-15/e35/23824739_532030233799712_1587079549328293888_n.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#footer-info {
  height: 100%;
  background: rgba(0, 30, 60, 1);
}

#nav {
  display: block;
  height: 100px;
  float: left;
  width: 70%;
  margin: 0 15%;
  z-index: 500;
  outline: none;
}

.nav-item {
  display: block;
  float: left;
  height: 100px;
  width: 25%;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-item a {
  background: rgba(0,0,0,0);
  padding: 20px;
  border: solid rgba(0,0,0,0) 0px;
  border-radius: 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.nav-item a:hover{
  background: rgba(0,30,60, 0.05);
  padding: 10px;
  /* border: solid rgba(0,0,0,0.25) 1px; */
  border-radius: 5px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid black;
  margin: 10px 0;
  content: ' ';
  transition: 0.1s;
}

.dot-container {
  display: block;
  opacity: 0;
  width: 16px;
  height: 140px;
  position: fixed;
  overflow: hidden;
  right: -8px;
  top: 50%;
  margin-top: -70px;
  z-index: 500;
}

.dot-container a {
  width: 100%;
  height: 100%;
}

.dot-container a:hover {
  background: red;
}

#landing-logo {
  width: 25%;
  padding: 100px 37.5%;
}

#footer-logo {
  width: 25%;
  padding: 100px 37.5%;
}

.section-title {
  display: block;
  height: 175px;
  width: 75%;
  margin: auto;
  padding-top: 75px;
}

.section-title img {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 20px;
  margin-top: 0;
  opacity: 0.95;
}

.section-title h1 {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 100px;
}

.text {
  width: 65%;
  margin: 0 auto;
  padding: 25px 0 100px 0;
  line-height: 35px;
  font-size: 20px;
}

#rozina-menu {
  width: 80%;
  margin: 100px auto 75px auto;
}

.rozina-menu-column {
  width: 50%;
}

#rozina-menu table {
  width: 100%;
  margin: 5% 0;
  float: none;
}

#rozina-menu td {
  width: 25%;
}

.rozina-item-name {
  font-weight: 600;
  font-size: 18px;
}

.rozina-item-price {
  text-align: right;
}

.rozina-item-description {
  font-size: 14px;
}

#map {
  height: 400px;
  width: 80%;
  margin: 100px auto;
}












/* MEDIA QUERIES */










/* ------------------1200------------------ */
@media screen and (max-width: 1200px) {

  #landing-logo {
    width: 40%;
    padding: 100px 30%;
  }

  #footer-logo {
    width: 40%;
    padding: 100px 30%;
  }

}







/* ------------------940------------------ */
@media screen and (max-width: 940px) {

  .text {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
    line-height: 35px;
    font-size: 15px;
  }

}




/* ------------------780 (MOBILE & TABLET)------------------ */
@media screen and (max-width: 780px) {

  /*------------ Normal Stuff------------ */
  #nav {
    position: fixed;
    display: block;
    height: 0%;
    padding: 0% 0;
    float: right;
    top: 0%;
    right: 0;
    width: 150px;
    margin: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .85);
    overflow: hidden;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  .nav-item {
    display: block;
    float: left;
    height: 75px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 75px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 0;
  }

  .nav-item a {
    color: white;
    background: rgba(0,0,0,0);
    padding: 20px;
    border: solid rgba(0,0,0,0) 0px;
    border-radius: 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .nav-item a:hover{
    background: rgba(0,0,0, 0.0);
    padding: 10px;
    border: solid rgba(255,255,255,0.25) 1px;
    border-radius: 5px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  #landing-logo {
    width: 50%;
    padding: 100px 25%;
  }

  #footer-logo {
    width: 50%;
    padding: 100px 25%;
  }

  .text {
    width: 82%;
    margin: 0 auto;
    padding: 20px 0 75px 0;
    line-height: 28px;
    font-size: 14px;
  }

  h1 {
    letter-spacing: 4px;
    font-size: 32px;
  }




  /* Customizing nav-toggle button */
    .nav-toggle {
      position: fixed;
      display: block;
      width: 45px;
      height: 45px;
      right: 20px;
      top: 20px;
      z-index: 200;
      margin: auto;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background: rgba(0, 0, 0, 0.0);
    }

    #nav-block-1, #nav-block-2, #nav-block-3 {
      display: block;
      height: 9px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }

    #nav-block-1, #nav-block-2 {
      margin-bottom: 9px;
      -webkit-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
             transform: rotate(0deg);
    }

    #nav-block-3 {
      margin-top: 9px;
    }

    .dot-container {
      display: none;
    }





      /*------------Rozina Menu-------------*/
      #rozina-menu {
        margin: 70px auto;
      }

      .rozina-menu-column {
        width: 100%;
      }

      #rozina-menu table {
        width: 100%;
        margin: 25px 0;
      }

      #rozina-menu td {
        width: 50%;
      }

      .rozina-item-name {
        font-weight: 600;
        font-size: 18px;
      }

      .rozina-item-price {
        text-align: right;
      }

      .rozina-item-description {
        font-size: 14px;
      }

}




/*Desktop Nav Bug Fix*/
@media screen and (min-width: 780px) {
  #nav {
    height: 100px;
  }
}
