

figure:hover {
  opacity: 0.88;
}

img {
  width: 100%;
}


/*
#selectGallery {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  max-width: 25px;
  transition: 0.7s all;
  z-index: 501;
}

#open-gallery-selector {
  display: block;
  background: crimson;
  height: 50%;
  top: 25%;
  width: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  cursor: pointer;
} */

.my-gallery {
  width: 1000px;
  margin: 0 auto;
}

#gallery-title {
  display: block;
  position: fixed;
  top: 0;
  background: red;
}

.grid {
  max-width: 100%;
}

.gallery-item, .grid-sizer {
  width: 200px;
}

.gallery-item {
  float: left;
  padding: 2px;
}

.content {
  margin-top: 100px;
  margin-left: 0;
  padding-bottom: 100px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pwsp, .pwsp-item {
  z-index: 9999;
}

figcaption {
  display: none;
}

.sideways-text {
  transform: rotate(270deg);
    color: white;
    position: absolute;
    top: 43%;
    left: -12px;
    margin: 0;
}









/* Navigation Animation */
.drop-down {
  display: none;
}

.menu-item:hover > .drop-down {
  display: block;
}

.menu-item:hover > .drop-down,
.menu-item:hover > .drop-down li {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

/* keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    background-color: rgba(255, 255, 255, 0);
    height: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
    height: 140px;
  }
}



















/*MEDIA QUERIES*/
@media (min-width: 1056px) {
  .cover-photo {
    max-width: 678px;
  }
}

@media (max-width: 1056px) {
  .content {
    margin-left: 0;
  }

  #brand {
    text-align: center;
    width: 100%;
  }

  .brand-home-mobile {
    margin-top: 150px;
  }

  h1 {
    font-size: 32px;
  }

  #open-nav-top, .open-nav {
    display: block;
    width: 24px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 5%;
    opacity: 0.8;
    z-index: 501;
  }

  #open-nav:hover {
    opacity: 1;
  }

  .toggle-nav-bar {
    position: relative;
    display: block;
    width: 20px;
    height: 8px;
    overflow: hidden;
    z-index: 100;
  }

  .toggle-nav-bar::before,
  .toggle-nav-bar::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -4px;
    background: crimson;
  }

  header {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 600;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: none;
  }

  .header-home-mobile {
    background: rgba(0, 0, 0, 0.8);
  }

  #nav {
    padding-left: 30px;
    margin: 200px auto;
    padding: 0;
  }

  .menu-item {
    width: 100%;
    height: auto;
    text-align: center;
    background: transparent;
    font-size: 25px;
    margin: 10px 0;
  }

  #nav > li > a {
    color: black;
  }

  .drop-down {
    overflow: hidden;
    display: block;
    padding-left: 20px;
    transition: all 0.8s;
    padding: 0;
  }

  .menu-item:hover > .drop-down li a {
    color: crimson;
  }

  .fa-angle-down {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: 3px;
    color: white;
  }

  #selectGallery {
    position: fixed;
    top: 0;
    right: 25px;
    width: 200px;
    height: 100%;
    max-width: 25px;
    transition: 0.7s all;
    z-index: 501;
  }

  #open-gallery-selector {
    display: block;
    background: crimson;
    height: 100px;
    top: 43%;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    cursor: pointer;
  }

  .sideways-text {
    transform: rotate(270deg);
    color: white;
    position: absolute;
    top: 40%;
    left: 0px;
    margin: 0;
  }

  .button {
    margin-left: 50px;
  }





  /* Navigation Animation Mobile */
  .drop-down {
    height: 0;
  }

  .menu-item:hover > .drop-down {
    animation-name: slideIn;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  .cover-photo {
    max-width: 100%;
  }





/* Customizing close button */
  .close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0.8;
  right: 20px;
  top: 20px;
  }
  .close:hover::before, .close:hover::after {
  background: crimson;
  }
  .close::before, .close::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -4px;
  background: white;
  }
  .close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  .close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }

}

@media (max-width: 1200px) {
  .my-gallery {
    width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .my-gallery {
    width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .my-gallery {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .my-gallery {
    width: 200px;
    margin: 0 auto;
  }
}
